:root {
  --bg-color: #fff;
  --line-color-1: #09b1ff6b;
  --line-color-2: #a9a9a9;
}
.item-div,
.item-div-2 {
  height: 200px;
  width: 200px;
  background-color: #0084fe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
}
.container {
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      var(--line-color-1) 270deg,
      #0000 0
    ),
    conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      var(--line-color-2) 270deg,
      #0000 0
    );
  background-size: 72px 72px, 12px 12px;
}
